mixin sectionLoginTitle(props = {})
    -
        let state = {
            title: props.title,
        }

    .c-sectionLoginTitle
        span(class="c-sectionLoginTitle__title")
            | Sessão de Login

