@import './_variable.scss';

.c-welcome {
    margin: 5px;

    &__title {
        color: black;
        font-size: 28px;
        font-weight: 600;

        display: grid;
        place-items: center;
    }
}